.buttonContainer {
  width: 70%;
  margin: 10px auto;
  text-align: center;
  border-bottom: 1px solid white;
  padding: 20px 10px;
}

.btnStyle {
  font-size: 40px;
  border-radius: 20%;
}

.colordefine {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  color: var(--secondary);
  font-weight: bold;
  letter-spacing: 1.2px;
  width: 100%;
}

.colordefine > div {
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .btnStyle {
    font-size: 20px;
  }

  .buttonContainer {
    width: 100%;
  }

  .colordefine{
    font-size: 0.8rem;
  }

  .colordefine > div {
    margin: 5px;
  }
}
