.navbar {
  margin: auto;
  margin-top: 0;
  margin-bottom: 20px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--primary);
  border-bottom: 5px solid white;
  width: 95%;
}

#appName {
  font-size: 25px;
  font-weight: bold;
  color: var(--secondary);
  cursor: pointer;
  letter-spacing: 1.5px;
}

#appName::first-letter {
  color: var(--optional);
  font-size: 30px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.algo-list {
  background-color: var(--primary);
  border: none;
  color: var(--secondary);
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.algo-list:focus {
  outline: none;
}

#randombar {
  font-size: 14px;
  padding: 8px;
  border: none;
  background-color: var(--optional);
  color: white;
}

@media screen and (max-width: 768px) {
  .algo-list {
    font-size: 10px;
  }

  .navbar {
    padding: 5px;
    width: 100%;
  }

  #randombar {
    display: none;
  }

  #appName {
    font-size: 14px;
  }

  #appName::first-letter {
    color: var(--optional);
    font-size: 15px;
  }

  #appName {
    letter-spacing: 1px;
  }
}
