* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-weight: bold;
}

:root {
  --main: lightblue;
  --primary: lightblue;
  --secondary: #3a3a3c;
  --optional: green;
  --test: blue;
}

.mainContainer {
  background-color: var(--primary);
  height: 100vh;
  overflow: auto;
}

.innerContainer {
  width: 95%;
  margin: auto;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .innerContainer {
    width: 100%;
  }
}
